@font-face {
    font-family:consolas,"courier new",monospace!important;
    src: url(../fonts/CONSOLA.TTF) format("truetype");
}
body{
    background-color: #E7E9EB;
}
.l_tbdr{
    border:1px dashed #000;
}
.l_w11{
    width:180px !important;
}
.l_w12{
    width:120px !important;
}
.l_w5{
    width:100px !important;
}
.l_h600{
    min-height:620px;
}
.l_consola{
    font-family: consolas,"courier new",monospace!important;
}
.editable{
    border: none; 
    outline: none; 
}
.ll{
    height:100% !important;
}
.loader{
    width:6rem;
    height:6rem;
    border-width:0.4em;
}